html {
  text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, div, ul, menuitem {
    margin:0;
    padding:0;
}

body {
 
  font: 16px / 1 sans-serif;
}
.cat-photo {
  text-align: center;
  
}
#top {
  text-align: center;
  
}

#divWrapper{
    width:700px;
    margin:20px auto;
    background:red;
}

header {
    height: 290px;
    width:auto;
    background-image: url('image/Windmill-and-House-in-Sunny-Field-Twitter-Headers-Twitter-Covers-580x290.jpg');
}
header img {
    padding-top:20px;
    padding-bottom:20px;
    
}

#divLine {
    width:700px;
    background:#999;
    height:1px;
}


nav {
    width:384px;
    background:green;
    height:36px;
    margin:0 auto;
}
nav ul {
    list-style-type:none;
}
nav ul li {
    float:left;
}
nav ul li a {
    display:block;
    height:20px;
    line-height:20px;
    background:#000;
    width:80px;
    font-size:0.8em;
    font-weight:bold;
    color:#FFF;
    text-align:center;
    text-decoration:none;
    margin:7px;
/*Border Radius*/

border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border: 1px solid #000;


/*  "Was not working, border around buttons" :"then I got it to work" */
   /*Gradients*/

background:-moz-linear-gradient(top, #666, #333);
 background:-webkit-gradient(linear, left top, left bottom, from(#666), to(#333));   



}
nav ul li a:hover {
    background:#333;
    background:-moz-linear-gradient(top, #000, #666);
 background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#666));   

}

nav ul li a.current, nav ul li a.current:hover {
    background:#333;
    background:-moz-linear-gradient(top, #000, #666);
    background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#666));   
    color:#f63;
    cursor:default;
}
.About {
    width:700px;
    background:lightgray;
    padding-bottom:60px;
    padding-top:20px;

}
#divContent {
    text-align:center;
   
    margin:0 auto;
    background:#222;
    border:1px solid #000;
}
#divContent img {
    float:left;
    border:1px solid #000;
    background:#000;
    padding:16px;
    margin-top:20px;
    margin-bottom:40px;

    /*gradients*/
    background:-moz-linear-gradient(top, #000, #333);
    background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));   

    /*Border Radius*/
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}